<%- include('../partials/header.ejs') %>

<div class="create-blog content">
    <form class="create-blog-form" action="/blogs" method="POST">
        <h2>Share a Story</h2>
        <label for="title">Title</label>
        <input type="text" class="input-title" name="title" placeholder="Unveiling Enchanted Chronicles" autofocus>
        <label for="snippet">Excerpt</label>
        <input type="text" class="input-snippet" name="snippet" placeholder="Dive into a World of Magic and Wonder">
        <label for="body">Content</label>
        <textarea class="textarea-content" placeholder="As the sun dipped below the horizon, a realm of mysteries awaited, where stars whispered tales and moonbeams wove dreams..."></textarea>
        <input type="hidden" class="input-processed-content" name="content">
        <button type="submit" disabled>Post</button>
        <button>Save Draft</button>
    </form>
</div>

<script>
    const createBlogForm = document.querySelector('.create-blog-form');
    const title = createBlogForm.querySelector('.input-title');
    const snip = createBlogForm.querySelector('.input-snippet');
    const body = createBlogForm.querySelector('.textarea-content');
    const button = createBlogForm.querySelector('button[type="submit"]');

    createBlogForm.addEventListener('submit', () => {
        const blog = document.querySelector('.input-processed-content');
        blog.value = body.value.replace(/\n/g, '<br>');
    });

    title.addEventListener('input', () => {
        title.value ? title.value = title.value.toLowerCase().replace(/\b\w/g, s => s.toUpperCase()) : "";
    });

    snip.addEventListener('input', () => {
        snip.value ? snip.value = sentenceCase(snip.value) : "";
    });

    createBlogForm.addEventListener('input', () => {
        title.value && snip.value && body.value ? button.disabled = false : button.disabled = true;
    });
    function sentenceCase(str) {
        return str.replace(/(^|\.\s+)([a-z])/g, (match, group1, group2) => {
            return group1 + group2.toUpperCase();
        });
    }
</script>
