<footer>
    <div class="closure">
        <p>© 2023, All rights reserved</p>
    </div>
    <div class="social-items">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-threads"></i></a>
    </div>
</footer>