<nav class="nav">
    <div class="nav-left-inline-top">
        <div class="site-title">
            <h1><a href="/">Whimsy Blogs</a></h1>
        </div>
        <div class="site-search">
            <form class="search-form" action="/blogs/search" method="POST">
                <button class="search-btn" type="submit" disabled><i class="fa-solid fa-search"></i></button>
                <input class="search-bar" type="text" name="search" placeholder="Search blogs..." autocomplete="false">
            </form>
        </div>
    </div>
    <div class="nav-links">
        <a href="/">Blogs</a>
        <a href="/blogs/about">About</a>
        <% if(!res.user) {%>
        <a class="signin-btn" href="/blogs/signin">Sign in</a>
        <% } %>
        <% if(res.user) { %>
        <a href="/blogs/create"><i class="fa-regular fa-pen-to-square"></i> Write</a>
        <span class="profile-menu">
            <a class="profile-btn"><%- res.user.alias.split(' ')[0] %><i class="fa-solid fa-angle-down"></i></a>
            <div class="profile-options">
              <a href="/users/profile">My Blogs</a>
              <a href="/users/signout">Sign Out</a>
            </div>
        </span>
        <% } %>
    </div>
</nav>
<div class="sub-nav">
    <p>Become a pro member and get access to exclusive features! ✨</p>
</div>

<script>
    window.onscroll = () => {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 125  || document.documentElement.scrollTop > 125) {
            document.querySelector(".nav").classList.add("nav-sticky");
        } else {
            document.querySelector(".nav").classList.remove("nav-sticky");
        }
    }
    const profileBtn = document.querySelector('.profile-btn');
    const profileOptions = document.querySelector('.profile-options');

    profileBtn.addEventListener('click', () => {
        profileOptions.classList.toggle('show');
        profileBtn.classList.toggle('profile-btn-active');
    })
    
    window.addEventListener('click', (e) => {
        if(!e.target.matches('.profile-btn')) {
            profileOptions.classList.remove('show');
            profileBtn.classList.remove('profile-btn-active');
        }
    })
</script>