<nav>
    <div class="site-title">
        <h1><a href="/">Whimsy Blogs✨</a></h1>
        <p>Sparkling Stories to Enchant.</p>
    </div>
    <div class="site-links">
        <a href="/">Blogs</a>
        <a href="/about">About</a>
        <a href="/blogs/create">New Blog</a>
    </div>
</nav>