<nav>
    <div class="site-title">
        <h1><a href="/">✨Whimsy Blogs</a></h1>
        <p>Sparkling Stories to Enchant.</p>
    </div>
</nav>
<div class="error content">
    <h2>Oops! Page not found</h2>
</div>
