<%- include('./partials/header.ejs') %>

<div class="create-blog content">
    <form action="/blogs" method="POST">
        <h2>Write a New Blog</h2>
        <label for="title">Blog title</label>
        <input type="text" id="title" name="title" placeholder="Unveiling Enchanted Chronicles" autofocus>
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" name="snippet" placeholder="Dive into a World of Magic and Wonder">
        <label for="body">Blog body</label>
        <textarea id="body" placeholder="As the sun dipped below the horizon, a realm of mysteries awaited, where stars whispered tales and moonbeams wove dreams..."></textarea>
        <input type="hidden" id="processedBody" name="body">
        <button type="submit" disabled>Create</button>
    </form>
</div>
