@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Cormorant+Garamond&family=DM+Serif+Display&family=Cormorant:wght@300;500&display=swap');

:root{
    --heading: 'DM Serif Display', serif;
    --body:'Cormorant Garamond', serif; 
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body);
    font-size: 1.2rem;
}
h1, h2, h3, a, p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
    margin-bottom: 5rem;
}
nav .site-title > h1{
    font-size: 3rem;
    font-family: var(--heading);
}
nav .site-title > p{
    font-size: 1.2rem;
    font-family: var(--body);
}
nav .site-links > a{
    margin-left: 2rem;
}
nav .site-title a:hover{
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem;
    background-color: #f5f5f5;
    margin-top: 5rem;
    font-size: 0.9rem;
}
footer i{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #747474;
}footer i:hover{
    color: #000;
}
h2{
    margin-bottom: 40px;
    font-family: var(--heading);
    font-size: 2.5rem;
}
h3{
    font-family: var(--heading);
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 1.5rem;
}
.content{
    position: relative;
    margin: 2rem 5rem;
    max-width: 700px;
}
.blog{
    margin-bottom: 20px;
    padding: 2rem;
    background-color: #f5f5f5;
    border-left: 8px solid #000;
}
.create-blog form{
    max-width: 700px;
    margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
    font-family: var(--body);
    font-size: 1rem;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.create-blog label{
    font-family: var(--heading);
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}
.create-blog button{
    font-family: var(--body);
    font-size: 1rem;
    margin-top: 20px;
    background: #000;
    color: white;
    padding: 1rem 2rem;
    border: 0;
    cursor: pointer;
}
.content p {
    line-height: 1.6;
}
.content .snippet{
    margin-bottom: 2rem;
}
.quote {
    font-style: italic;
    color: #888;
}
p.body::first-letter{
    line-height: 0.9;
    font-size: 3rem;
    font-family: var(--heading);
    vertical-align: text-bottom; 
    margin-right: 4px;
}
button{
    box-sizing: border-box !important;
    cursor: pointer;
    border: 0;
    outline: none !important;
}
.delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #888;
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 50%;
}
.delete-btn:hover{
    color: #f5f5f5;
    background-color: #000;
}
.popup-delete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 100;
}
.popup-delete > div{
    background-color: #f5f5f5;
    padding: 20px;
    width: 250px;
}
.popup-delete > div > p{
    margin-bottom: 2rem;
}
.popup-delete .delete-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-delete .delete-btns button{
    font-family: var(--body);
    font-size: 1rem;
    text-align: center;
    width: 115px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.popup-delete .delete-no{
    background-color: #000;
    color: #f5f5f5;
}
.popup-delete .delete-yes{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}
.popup-delete-open{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-delete-open > div{
    display: block;
    animation: popup 0.25s ease-in-out forwards;
}
@keyframes popup{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    60%{
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.body-popup-open{
    overflow: hidden;
}